* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    min-height: 100vh;
    position: relative;
}

/* HEADER */
.titulo_produtos {
    text-align: center;
    margin-bottom: 15px;
}


.opcoes_menu ul {
    gap:20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.opcao_acao_produto{ /* li do menu */
    display: inline;
}

.opcao_acao_produto a{ /* li do menu */
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    color: black;


}

/* CADASTRO DE PRODUTOS */

.form_card_cadastro {
    width: 200px;
    height: 200px;

    border-radius: 20px;
    margin: auto;
    padding: auto;
    
}

.campos_form {
    text-align: center; /* Centraliza o texto */
    margin: 20px;
}

/* LISTAR PRODUTOS */

.listaProdutos {
    width: 300px;
    margin: auto;
    padding: auto;
    border: 2px solid #000000;
    border-collapse: collapse;
}

.cabecalhoListaProdutos {
    background-color: rgb(150, 150, 150);
    border: 2px solid #000000;

}

.cabecalhoListaProdutos th{ 
    border: 2px solid #000000;
    padding: 3px;
}

.itensListaProdutos {
    background-color: rgb(204, 204, 204);
}

.itensListaProdutos td{
    border: 2px solid #000000;
    padding: 3px;

}
/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #ffffff05;
    z-index: 1000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}


footer a {
    text-decoration: none;
    color: rgb(103, 103, 103);
    padding: 20px 10px 0 10px;
}