* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/* Remover as setas do type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    min-height: 100vh;
    position: relative;
}

/* HEADER */
.titulo_produtos {
    text-align: center;
    margin-bottom: 15px;
}


.opcoes_menu ul {
    gap:20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.opcao_acao_produto{ /* li do menu */
    display: inline;
}

.opcao_acao_produto a{ /* li do menu */
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.opcao_acao_produto a:hover{
    transition: 0.5s;
    color: rgba(108, 108, 108, 0.407);
}

/* CADASTRO DE PRODUTOS */

.form_card_cadastro {
    background-color: rgba(88, 95, 105, 0.261);
    width: 200px;
    height: 160px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
}
.label_camposCadastroProduto {
    font-weight: 700;
}

.campos_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.campos_form input {
    color: black;
    background-color: rgba(0, 0, 0, 0.122);
    border-radius: 6px;
    padding: 5px;
    border: none;
}

.botaoCadastro {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.botaoCadastroProduto {
    border: none;
    width: fit-content;
    color: rgb(84, 84, 84);
    border-radius: 10px;
    background: rgba(108, 108, 108, 0.407);
    padding: 5px;
    cursor: pointer;
}

.botaoCadastroProduto:hover {
    transition: 0.7s;
    background: rgba(0, 149, 7, 0.578);
    color: rgb(0, 0, 0);
}

.botaoCadastroProduto:active {
    transform: scale(0.95);
}

/* EDITAR PRODUTO */

.cardEditarProduto {
    background-color: rgba(88, 95, 105, 0.261);
    width: 200px;
    height: 190px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.labelEditarProduto {
    font-weight: 700;
    margin-bottom: 10px;
}

.campos_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.id_editarProduto {
    text-align: center;
    margin: auto;
    width: 40px;
}

.campos_form input {
    text-align: center;
    color: black;
    background-color: rgba(0, 0, 0, 0.122);
    border-radius: 6px;
    padding: 5px;
    border: none;
}

.botaoEditarProduto {
    border: none;
    width: fit-content;
    color: rgb(84, 84, 84);
    border-radius: 8px;
    background: rgba(108, 108, 108, 0.407);
    padding: 5px;
    cursor: pointer;
}

.botaoEditarProduto:hover {
    transition: 0.7s;
    background: rgba(0, 149, 7, 0.578);
    color: rgb(0, 0, 0);
}
/* LISTAR PRODUTOS */

.listaProdutos {
    width: 300px;
    margin: auto;
    padding: auto;
    border-collapse: separate;
}

.cabecalhoListaProdutos {
    background-color: rgba(143, 143, 143, 0.823);
}

.cabecalhoListaProdutos th{ 
    border-radius: 3px;
    padding: 3px;
}

.itensListaProdutos {
    background-color: rgba(88, 95, 105, 0.261);
}

.itensListaProdutos td{
    border-radius: 3px;
    text-align: center;
    padding: 3px;

}

/* DELETAR PRODUTO */

.card_excluirProdutos {
    background-color: rgba(88, 95, 105, 0.261);
    border-radius: 20px;
    margin: auto;
    padding: 10px;

    width: 210px;
    height: 130px;

    border-radius: 20px;
    margin: auto;
    padding: auto;

    text-align: center;
    display: collum ;
}

.campoDeExclusao {
    text-align: center;
    margin: 10px;
    width: 30px;
    height: 20px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
}

.labelExcluir {
    font-weight: 700;
}

.botaoDelete {
    border: none;
    width: fit-content;
    color: rgb(84, 84, 84);
    border-radius: 10px;
    background: rgba(108, 108, 108, 0.407);
    padding: 5px;
    cursor: pointer;
}

.botaoDelete:hover {
    transition: 0.7s;
    background: rgba(255, 0, 0, 0.622);
    color: rgb(0, 0, 0);
}



/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #ffffff05;
    z-index: 1000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}


footer a {
    text-decoration: none;
    color: rgb(103, 103, 103);
    padding: 20px 10px 0 10px;
}